
<ul>
    <li *ngFor="let allUser of user,let i = index">
        {{allUser.id}}
        {{allUser.nom}}
        {{allUser.prenom}}
        {{allUser.login}}
        {{allUser.mdp}} 
        <button (click)='deletUser(allUser.id)'>delet</button>
               
    </li>
</ul>

<form (ngSubmit)="updateUser(idUserUpdate,newPassword)">
	<div>
	<select [(ngModel)]="idUserUpdate" [ngModelOptions]="{standalone: true}">
        <option>Choisire un id</option>
		<option *ngFor="let allUser of user" > {{allUser.id}}</option>
	</select><br/>
    <input type="text" [(ngModel)]="newPassword" [ngModelOptions]="{standalone: true}">
    <button type="submit">update</button>
    </div>
</form>
